.STLPreview {
    min-width: 200px;
    height: 700px;
    background: white;
    display:flex;
    justify-content: space-between;
    align-items:space-between;
    flex-wrap:wrap;
    border-radius: 4px;
    padding:15px;
}
.STLColumn {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
    color:black;
    overflow-wrap: normal;
    white-space: pre-wrap;
    word-wrap: break-word; 
}
.STLColumn > h1 {
    font-size: 16pt;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: serif;
    max-width: 100%;
}
.STLColumn > p {
    font-size: 8pt;
    font-weight: 400;
    padding-bottom: 5px;
    max-width: 100%;
}
.STLColumn > img {
    max-width: 100%;
    align-self: center;
    margin-bottom: 10px;
}
.STLColumn > span > img {
    max-width: 100%;
    align-self: center;
}
.STLColumn > .cta-full {
    width: 100%;
    background: #222;
    color:white;
    font-size: 8pt;
    padding: 6px;
    font-weight: 600;
    border: solid 1px rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 10px;
}
.STLColumn > .cta-full:hover {
    color: #222;
    background: white;
    border: solid 1px #222;
}
.STLColumn > .STLquote {
    text-align: center;
    max-width: 100%;
}
.STLColumn > .social > .socialText {
    padding-left: 10px;
}
.STLColumn > .social > img {
    width: 50%;
}
.STLColumn > .social h3 {
    font-weight: 600;
    font-size: 8pt;
}
.STLColumn > .social p {
    font-size: 7pt;
}
.STLColumn > .social .STLIconImg {
    max-width: 20px;
    max-height: 20px;
}